# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.out

# Executables
*.exe
*.out

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeScripts/
Testing/

# VS Code
.vscode/

# Dependency directories
dependencies/

# Build output
build/
bin/
